# Exports (public functions)
export(perch_auth)
export(get_organization_id)
export(get_all_users)
export(get_all_exercises)
export(get_sets)

# Imports (symbols used inside the package)
importFrom(httr, GET)
importFrom(httr, POST)
importFrom(httr, RETRY)
importFrom(httr, add_headers)
importFrom(httr, content)
importFrom(httr, stop_for_status)

importFrom(jsonlite, fromJSON)

importFrom(dplyr, bind_rows)
importFrom(dplyr, mutate)
importFrom(dplyr, distinct)
importFrom(dplyr, left_join)
importFrom(dplyr, select)

importFrom(readr, read_csv)

importFrom(lubridate, as_datetime)
importFrom(lubridate, days)
